* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

  @keyframes glow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

@keyframes glow1 {
    from {
        text-shadow: 0 0 20px #ffffff;
    }
    to {
        text-shadow: 0 0 30px #ffffff, 0 0 10px #c9c9c9;
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, -2px, 0);
    }
    
    20%, 80% {
      transform: translate3d(1px, 2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-1px, -2px, 0);
    }
  
    40%, 60% {
      transform: translate3d(1px, 2px, 0);
    }
  }

  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }

  .header{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        color: white;
        font-size: 2em;
  }

.background {
        position: relative;
        background-color: #232323;
        height: 2280px;
}

@media only screen and (max-width: 1000px) {
    .background {
        position: relative;
        background-color: #232323;
        height: 2600px;
    }
}

.background img {
        position: absolute;
    
}
#img1{
        top: 80px;
        left: 0;
}

#img2{
    top: -80px;
    left: 500px;
}

#img3{
    top:  60px;
    right: 400px;
}

#img4{
    top: -60px;
    right: 15px;
}

.header-top {
    display: flex;
    flex-direction: column;

}

@media only screen and (min-width: 1000px){
    .header-top span {
        margin: 300px auto 20px;
        color: #FFF;
        opacity: 60%;
        font-weight: 700px;
        font-size: 60px;
        animation: glow1 1s ease-in-out infinite alternate;
    }
}

@media only screen and (max-width: 1000px){
    .header-top span {
        margin: 300px auto 20px;
        color: #FFF;
        opacity: 60%;
        font-weight: 700px;
        font-size: 60px;
        animation: glow1 1s ease-in-out infinite alternate;
    }
}

.header-top h1{
    margin: 0 auto;
    color: #FFF;
    font-weight: 700px;
    font-size: 60px;
}

@media only screen and (min-width: 1000px){
  input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 80px;
        width: 80px;
        z-index: 100;
  }
}

@media only screen and (max-width: 1000px){
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
  }
}

ul {
  position: relative;
  display: flex;
}

.lettering {
  position: relative;
  margin: 0 auto;

}

#g {
  margin-left: 40px;
}

/* @media only screen and (min-width: 1000px){
  .lettering div { 
    margin: 0 8px;
    background: #18191f;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
      4px 4px 6px rgba(0, 0, 0, 0.2),
      inset -1px -1px 4px rgba(255, 255, 255, 0.05),
      inset 1px 1px 1px rgba(0, 0, 0, 0.1);
      height: 80px;
      width: 80px;
  }
} */
  .lettering div { 
    margin: 0 8px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
  }


input[type="checkbox"]:checked ~ div {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

li {
    list-style-type: none;
}

#dev {
    margin: 20px auto 0;
}


.contato {
    margin: 200px auto;
}

@media only screen and (max-width: 1000px){
    .contato {
        margin: 400px auto;
    }
}

.menu {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto; 
  width: 5px;
  height: 5px;
  top: -44px;
  padding: 30px 30px;
  background: #fff;
  border-radius: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 1000px){
    .menu {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 auto; 
        width: 5px;
        height: 5px;
        top: -44px;
        padding: 80px 80px;
        background: #fff;
        border-radius: 100%;
        cursor: pointer;
  }
}

@media only screen and (max-width: 1000px){
    .menu::before, .menu::after {
        content: "";
        left: 40px;
        background: #000000;
        border-radius: 5px;
        width: 80px;
        height: 10px;
        position: absolute;
        transition: 0.2s ease;
        z-index: 1;
    }
}

@media only screen and (min-width: 1000px){
  .menu::before, .menu::after {
      content: "";
      left: 15px;
      background: #000000;
      border-radius: 5px;
      width: 30px;
      height: 5px;
      position: absolute;
      transition: 0.2s ease;
      z-index: 1;
  }
}

.menu::before {
    transform: rotate(0deg);
}
.menu::after {
    transform: rotate(-90deg);
}
.menu.open {
    opacity: 0.9;
}
.menu.open::before {
    transform: rotate(45deg);
}
.menu.open::after {
    transform: rotate(-45deg);
}
.menu.open .button {
    opacity: 1;
    pointer-events: auto;
}
@media only screen and (max-width: 1000px){
    .menu.open .button:first-of-type {
        bottom: 152px;
        right: 190px;
        background: url("https://bassets.github.io/instagram.svg") no-repeat 50%/50% #000;
    }   
}

@media only screen and (max-width: 1000px){
    .menu.open .button:nth-of-type(2) {
        bottom: 210px;
        background: url("https://bassets.github.io/profile.svg") no-repeat 50%/ 50% #000;
        transition-delay: 0.05s;
    }
}

@media only screen and (max-width: 1000px){
    .menu.open .button:last-of-type {
        bottom: 152px;
        right: -90px;
        background: url("https://bassets.github.io/github.svg") no-repeat 50% 45%/50% 45% #000;
        transition-delay: 0.1s;
    }
}

.menu.open .button:first-of-type {
    bottom: 80px;
    right: 210px;
    background: url("https://bassets.github.io/instagram.svg") no-repeat 50%/50% #000;
}
.menu.open .button:nth-of-type(2) {
    bottom: 240px;
    background: url("https://bassets.github.io/profile.svg") no-repeat 50%/ 50% #000;
    transition-delay: 0.05s;
}
.menu.open .button:last-of-type {
    bottom: 80px;
    right: -210px;
    background: url("https://bassets.github.io/github.svg") no-repeat 50% 45%/50% 45% #000;
    transition-delay: 0.1s;
}

.button {
    padding: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: #e8e8f3;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: inherit;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
}

@media only screen and (max-width: 1000px) {
    .button {
        padding: 80px;
        border-radius: 50%;
        cursor: pointer;
        background: #e8e8f3;
        position: absolute;
        bottom: 0;
        right: 54;
        opacity: 0;
        pointer-events: none;
        box-shadow: inherit;
        transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
    }
}

.button:hover {
    transform: scale(1.1);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 410px auto 60px;
    color: #FFF;
    font-size: 36px;
    letter-spacing: 5px;
    background-clip: text;
    background-size: 80%;
    position: relative;
}

#perfil {
    border: 1px solid #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    border-radius: 50%;
    animation: shake 10s cubic-bezier(.36,.07,.19,.97) both infinite alternate;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

@media only screen and (min-width: 1000px){
    .descricao {
        display: flex;
        margin: 15px auto 15px;
        justify-content: center;
        align-items: center;
        max-width: 1240px;
        color: #b2b2b2;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 999px){
    .descricao {
        display: flex;
        margin: 15px auto 15px;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        color: #b2b2b2;
        font-size: 22px;
    }
  }
    
  .email {
    display: flex;
    justify-content: center;
    cursor: pointer;
  
  }
.email button, .email button::after {
  width: 380px;
  height: 86px;
  font-size: 36px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  cursor: pointer;
}

.email button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.email button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

a {
  text-decoration: none;
}
